$dark-color : #384050;
$light-color : #f1f8fc;
$lightblue : #0074c7;
$darkblue : #00497c;
$red : #cd2c2e;
$green : #82b864;

// Polices
@font-face {
  font-family: 'Graphik';
  src: url('./assets/fonts/Graphik-Regular.woff2') format('woff2'),
       url('./assets/fonts/Graphik-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik';
  src: url('./assets/fonts/Graphik-Medium.woff2') format('woff2'),
       url('./assets/fonts/Graphik-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik';
  src: url('./assets/fonts/Graphik-Bold.woff2') format('woff2'),
       url('./assets/fonts/Graphik-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
    background-color : $light-color;
    font-family: 'Graphik', sans-serif;
    color: $dark-color;
}

.navbar {
    box-shadow: 0px 12px 24px 0px transparentize($dark-color, 0.9);
}

li {
    font-size: 20px;
}

.search-container {
    width: 246px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid $lightblue;
    border-right: 2px solid $lightblue;
}

.search-input {
    width: 130px;
    height: 24px;
    background-color: $light-color;
    border: none;
    opacity: 60%;
    font-size: 20px;
}

.search-btn {
  padding-left: 1px;
}

.bi-search {
    color: $darkblue;
}

.home-header {
  background-color: $red;
  width: 484px;
  height: 269px;
  display: flex;
  align-items: center;
  margin-left: 70px;

    h1 {
      font-size: 32px;
      color: $light-color;
      margin-top: 28px;  
    }
}

  .header-line {
    border: none;
    height: 14px;               
    width: 52px;               
    background-color: $light-color;  
    opacity: 1;
  }

  .list-section {
    li {
      color: $darkblue;
      font-weight: 700;
    }
  }

  .info-section {
    height: 450;
  }

  .line {
    border: none;
    height: 13px;               
    width: 43px;  
    opacity: 1;
  }

  .greenline {
    background-color: $green;
  }

  .redline {
    background-color: $red;
  }

  .blueline {
    background-color: $darkblue;
  }