$dark-color : #384050;
$light-color : #f1f8fc;
$lightblue : #0074c7;
$darkblue : #00497c;
$red : #cd2c2e;
$green : #82b864;

// Polices
@font-face {
  font-family: 'Graphik';
  src: url('./assets/fonts/Graphik-Regular.woff2') format('woff2'),
       url('./assets/fonts/Graphik-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik';
  src: url('./assets/fonts/Graphik-Medium.woff2') format('woff2'),
       url('./assets/fonts/Graphik-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik';
  src: url('./assets/fonts/Graphik-Bold.woff2') format('woff2'),
       url('./assets/fonts/Graphik-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
    background-color : $light-color;
    font-family: 'Graphik', sans-serif;
    color: $dark-color;
}

footer {
  height: 525px;
  background-color: #0074c7;
  color: #f1f8fc;
}



// MENU NAVIGATION

.navbar {
    box-shadow: 0px 12px 24px 0px transparentize($dark-color, 0.9);
}

.navbar-collapse {
    flex-basis: auto;
}

li.nav-item {
    font-size: 20px;
}

.search-container {
    position: relative;
    width: 246px;
    height: 64px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid $lightblue;
    border-right: 2px solid $lightblue;

    .suggestions-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #f1f8fc;
    border: 1px solid;
    z-index: 1000;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;

    li {
      padding: 8px 12px;
      cursor: pointer;
    }
  }
}

.search-input {
    width: 130px;
    height: 24px;
    background-color: $light-color;
    border: none;
    opacity: 60%;
    font-size: 20px;
}

.search-btn {
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.bi-search {
    color: $darkblue;
}





// PAGE ACCUEIL

.home-header {
  background-color: $red;
  width: 484px;
  height: 269px;
  display: flex;
  align-items: center;
  margin-left: 85px;
  margin-top: 30px;
  margin-bottom: 92px;

    h1 {
      font-size: 32px;
      color: $light-color;
      margin-top: 28px;  
    }
}

.artisan-section{
  background-color: $lightblue;
  width: 484px;
  height: 269px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 85px;

    hr{
      border: none;
      height: 14px;               
      width: 52px;               
      background-color: $light-color;  
      opacity: 1;
    }

    h2{
      font-size: 32px;
      color: $light-color;
      margin-top: 28px;
    }

}

  .header-line {
    border: none;
    height: 14px;               
    width: 52px;               
    background-color: $light-color;  
    opacity: 1;
  }

  .list-section {
  width: 1084px;
  display: flex;
  justify-self: center;

    .text-section {
      color: $darkblue;
      font-weight: 700;
      font-size: 32px;
      width: 442px;
      padding-bottom: 25px;
    }

    .last-text{
      color: $darkblue;
      font-weight: 700;
      font-size: 32px;
      padding-bottom: 25px;
    }
  }

  .info-section {
    height: 450;
    margin-bottom: 70px;
  }

  .artisans-du-mois{
    background-color: transparentize($lightblue, 0.9);
    margin: 25px auto;
    max-width: 1390px;
    min-height: 745px;
    display: flex;
    justify-content: center;
    gap: 150px;
    

    h3{
      width: 279px;
      font-weight: 700;
    }
    
  }

  .artisan-card{
    color: $darkblue;
    width: 279px;
    display: flex;
    flex-direction: column;

    .img-container{
      padding-top: 60px;
      padding-bottom: 20px;
    }

    img{
      width: 250px;
      height: 250px;
      border : 1px solid transparentize($darkblue, 0.12);
    }


    .bi-star-fill, .bi-star-half{
      color: $lightblue;
      font-size: 25px;
    }

    .text-size{
      font-size: 22px;
    }

    a{
      text-decoration: none;
    }

    .button{
      color: $darkblue;
      font-weight: 700;
      display: inline-flex;
      align-items: center; 
    }

    .bi-pin-map-fill, .bi-check-circle-fill{
      padding-right: 10px;
    }

    .bi-arrow-right{
      font-size: 35px;
    }
  }

  .line {
    border: none;
    height: 13px;               
    width: 43px;  
    opacity: 1;
  }

  .greenline {
    background-color: $green;
  }

  .redline {
    background-color: $red;
  }

  .blueline {
    background-color: $darkblue;
  }

  .text{
    width: 428px;
  }

  .img-placeholder{
    img{
      height: 450px;
      width: 450px;
    }
  }






  // PAGE LISTE DES ARTISANS

.batiment-card{
  color: $darkblue;
  margin: auto;
  max-width: 436px;
  min-height: 703px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  
  background-color: transparentize($color: $lightblue, $amount: 0.88 );

  margin-bottom: 100px;
  border-radius: 50px;

  h3{
    font-weight: 700;
    width: 279px;
  }
  
  img{
      width: 250px;
      height: 250px;
      border : 1px solid transparentize($darkblue, 0.12);
    }

    .text-size{
      font-size: 22px;
    }

    a{
      text-decoration: none;
    }

    .btn{
      width: 243px;
      height: 54px;
      color: $light-color;
      background-color: $lightblue;
      font-weight: 500;
      border-radius: 20px;
      display: inline-flex;
      align-items: center; 
      justify-content: center;
      margin-top: 49px;
    }

    .bi-pin-map-fill, .bi-check-circle-fill{
      padding-right: 10px;
    }

    .bi-arrow-right{
      font-size: 35px;
    }

}

.bi-star-fill, .bi-star-half{
      color: $lightblue;
      font-size: 25px;
    }

.page-title{
  padding-left: 120px;
  color: $darkblue;
  font-weight: 700;
  font-size: 48px;
}

.second-title{
  padding-left: 200px;
  padding-top: 95px;
  padding-bottom: 100px;
  color: $darkblue;
  
  h2{
    font-weight: 700;
    font-size: 40px;
  }
}

.card-title{
  padding-top: 20px;
  padding-bottom: 20px;
}

.rating{
  padding-bottom: 10px;
}




// PAGE FICHE ARTISAN

.fiche-header{
  hr{
    margin-left: 120px;
    margin-top: 60px;
    margin-bottom: 75px;
  }
  }

  .apropos{
    width: 608px;
    height: 388px;

    h2{
      color: $darkblue;
      font-weight: 500;
      font-size: 32px;
      text-align: center;
      margin-bottom: 30px;
    }

    p{
      font-size: 24px;
    }

  }

  .bi-caret-right-fill{
    color: $green;
    width: 25px;
    height: 25px;
    padding-right: 14px;
  }

  .presentation{
    display: flex;
    align-items: center;
    width: 530px;
    height: 224px;
    gap: 59px;

    .presentation-left{
      img{
      width: 224px;
      height: 224px;
      object-fit: cover;
    }
    }

    p{
      font-size: 24px;
      color: $darkblue;
    }

    a{
      text-decoration: none;
      font-size: 24px;
      color: $darkblue;

      i{
        padding-right: 10px;
      }
    }

    .bi-pin-map-fill, .bi-check-circle-fill{
      padding-right: 10px;
      color: $darkblue;
    }

  }

.section-info{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 95px
}

.section-form{
  margin-top: 225px;

  form{
  display: flex;
  flex-direction: column;
  margin-left: 120px;

  label{
  font-size: 24px;
  color: $dark-color;
  font-weight: 500;
}

input, select{
  width: 550px;
  height: 45px;
  margin-top: 20px;
  margin-bottom: 50px;
  border: 1px solid $darkblue;
  background-color: transparentize($color: $lightblue, $amount: 0.88);
  border-radius: 30px;
}

select{
  font-size: 20px;
  padding-left: 20px;
  color: $dark-color;
}

textarea{
  width: 675px;
  border: 1px solid $darkblue;
  background-color: transparentize($color: $lightblue, $amount: 0.88);
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 30px;
  height: 455px;
}

}

  p{
    font-size: 20px;
    margin-left: 120px;
    margin-bottom: 50px;
    margin-top: 25px;
  }

  h2{
    font-size: 40px;
    color: $darkblue;
    font-weight: 700;
  }

  .form-title{
    margin-left: 120px;
  }

  .btn{
      width: 243px;
      height: 54px;
      color: $light-color;
      background-color: $lightblue;
      font-weight: 500;
      border-radius: 20px;
      display: inline-flex;
      align-items: center; 
      justify-content: center;
      margin-top: 70px;
      font-size: 24px;
      margin-left: 120px;
    }
}



// FOOTER

footer{
  margin-top: 200px;
}
.bold {
  font-weight: 700;
}

hr {
  color: $light-color;
  opacity: 100%;
}

.footer-item{
  font-size: 18px;
}

.bottom-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem; 

  list-style: none;
}

hr{
  width: 80%;
}




// PAGE ERREUR

.erreur{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $darkblue;
  margin-top: 140px;

  p{
    font-size: 40px;
    font-weight: 700;
    padding-top: 30px;
  }

  a{
    font-size: 24px;
    margin-top: 115px;
    color: transparentize($color: $lightblue, $amount: 0.20);
  }
  
  i{
    font-size: 70px;
  }

  
}












