// RESPONSIVE ACCUEIL

  @media (max-width: 992px) {
  .home-header{
    width: 237px;
    height: 142px;
    margin-left: 42px;
    margin-top: 30px;
    
    h1{
      font-size: 17px;
      margin-top: 11px;
    }
    hr{
      width: 27px;
      height: 8px;
    }
  }

    .artisan-section{
        width: 237px;
        height: 142px;
        margin-left: 42px;
        margin-top: 30px;
        margin-top: 275px;

        h2{
        font-size: 27px;
        margin-top: 11px;
        }
        hr{
        width: 27px;
        height: 8px;
        }
    }

.list-section{
    max-width: 342px;

    .text-section, .last-text{
        max-width: 310px;
        font-size: 30px;
    }

    .text{
        max-width: 320px;
    }

    .last-text{
        max-width: 300px;
    }

    .info-section{
        margin-bottom: 170px;
        p{
            max-width: 320px;
        }
    }
}

img{
    max-width: 300px;
    max-height: 300px;
    margin: 0 auto;
    padding-bottom: 15px;
    padding-top: 15px;
}

.artisans-du-mois{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artisans-card{
    max-width: 279px;
}

}@media (max-width: 992px) {

    .fiche-header{
        margin: 0;
        padding-left: 15px;
        padding-bottom: 60px;
        
        h1{
            font-size: 34px;
            padding: 0;
            margin-bottom: 39px;
        }

        hr{
            margin: 0;
        }
    }

    .presentation{
        width: 227px; 
        display: flex;
        flex-direction: column ;
        gap: 0;
    }

    .apropos{
        margin-top: 194px;
        max-width: 360px;

        p{
            font-size: 20px;
        }
    }

    .section-form{
        max-width: 395px;
        margin-left: 15px;

        .form-title{
            margin: 20px;
        }

        h2{
            font-size: 34px;        
        }

        p{
            margin: 0;
            padding-bottom: 68px;
        }

        form{
            margin: 0 auto;
        }

        input, select{
            max-width: 340px;
        }

        textarea{
            max-width: 378px;
        }

        .btn{
            margin: 0;
        }
    }
}

// RESPONSIVE NAVBAR

@media (max-width: 992px) {
  .navbar-brand img {
    width: 195px;
    height: 110px;
  }

  .navbar-collapse{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .search-container{
    margin-top: 20px;
  }
}

@media (min-width: 992px) {
    .navbar-nav {
        margin: 0 auto;
    }
}
